cat << 'EOF' > .gitignore
# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
wandb/
experiments/
symile*
mydatasets/Factor_CL_Datasets/MultiBench/
mydatasets/CREMAD/ceus/
mydatasets/Xor/
mydatasets/ESNLI/hf_cache
condor_logs/logs
condor_logs/logs_vsc
