aiohttp
colorama
datasets
diffusers
easydict
einops
ffmpeg
fiftyone
h5py
jaraco.collections
kagglehub
kaleido
librosa
moviepy
nvidia-cufile-cu12
nvidia-nvshmem-cu12
opencv-python
opentsne
peft
pip-chill
pytorch-metric-learning
timm
torchaudio
torchmetrics
update
wandb
yacs
