aiohttp
colorama
datasets
diffusers
easydict
einops
ffmpeg
fiftyone
h5py
jaraco.collections
kagglehub
librosa
moviepy
opentsne
peft
pytorch-metric-learning
timm
torch
torchaudio
torchmetrics
wandb
yacs
